services:
  - type: web
    name: jobsparkai
    env: node
    region: oregon
    plan: free
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: NEXT_PUBLIC_SUPABASE_URL
        value: https://ettmusfpujpwdnajqqku.supabase.co
      - key: NEXT_PUBLIC_SUPABASE_ANON_KEY
        sync: false
      - key: SUPABASE_SERVICE_ROLE_KEY
        sync: false
      - key: OPENAI_API_KEY
        sync: false
      - key: NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY
        sync: false
      - key: STRIPE_SECRET_KEY
        sync: false
      - key: STRIPE_WEBHOOK_SECRET
        sync: false
      - key: NEXT_PUBLIC_POSTHOG_KEY
        value: phc_vf8CUVQXq4GMclemjq4SDobWsjiij1o3AiQ6vTWE6vZ
      - key: NEXT_PUBLIC_POSTHOG_HOST
        value: https://us.i.posthog.com
